* {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	--white: #fffcf2;
	--lightGray: #ccc5b9;
	--mediumGray: #918a7e80;
	--gray: #403d39;
	--darkGray: #252422;
	--black: #0f0f0e;
	--orange: #eb5e28;
}

body {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: start;
	background-color: var(--darkGray);
}

.header {
	font-family: 'Poppins', sans-serif;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 3.5rem;
	align-items: center;
	padding-left: 0, 2rem;
	border-bottom: 0.1rem solid var(--gray);
	background-color: var(--darkGray);
	color: var(--lightGray);
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: var(--orange);
	font-weight: bold;
	font-size: 1.5rem;
}

.titleAccent {
	color: var(--lightGray);
	font-weight: normal;
	font-size: 1.5rem;
}

.content {
	display: flex;
	box-sizing: border-box;
	background-color: var(--black);
	background-image: radial-gradient(circle, transparent 1rem, var(--black) 1rem),
		linear-gradient(#0d0d0c 0.5rem, transparent 0.5rem),
		linear-gradient(90deg, #0d0d0c 0.5rem, transparent 0.5rem);
	background-size: 5rem 5rem;
	background-position: 2.75rem 2.75rem, 0 0, 0 0;
	flex-grow: 1;
}

.menu {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	background-color: var(--darkGray);
	border-right: 0.1rem solid var(--gray);
	height: 100%;
	min-width: 3.5rem;
}

.navBarImages {
	width: 2rem;
	margin: 2rem 0;
}

.contentMain {
	box-sizing: border-box;
	background-color: var(--black);
	opacity: 80%;
	height: 100%;
	padding: 1rem;
	color: var(--orange);
}

.card {
	border-radius: 0.1rem;
	padding: 1rem;
	margin: 1rem;
	background-color: var(--mediumGray);
	color: var(--orange);
	font-size: 1.5rem;
	width: 20rem;
	box-shadow: 0.2rem 0.2rem #b7b3a1f0;
}

/* .hamburger {
	background: transparent;
	border-radius: 1rem;
	border: 1px solid;
} */

.buttonOne {
	background: transparent;
	border: transparent;
	fill: var(--lightGray);
}
.buttonOne input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* animation for button 1 */
.buttonOne .svgHam {
	transition: transform 300ms ease-out 300ms, rotate 300ms, width 0s 300ms;
	transform-origin: center;
}
.buttonOne:active .svgHam {
	transition: transform 300ms ease-in, rotate 300ms 300ms, width 0s 300ms;
}
.buttonOne:active .hamOneTop {
	transform: translateY(26%);
	rotate: 45deg;
}
.buttonOne:active .hamOneMid {
	width: 0%;
}

.buttonOne:active .hamOneBot {
	transform: translateY(-26%);
	rotate: -45deg;
}

p {
	color: var(--white);
	font-size: 1rem;
	margin-left: 1rem;
}
